<div class="’cookie-banner’" style="">
  <p>
    By using our website, you agree to our
    <a href="’insert-link’">cookie policy</a>
  </p>
</div>
<h3>cookie</h3>
<!-- <input type="checkbox" class="form-check-input" (change)="checked($event)" id="exampleCheck1">

<button type="button" (click)="submit($event)">Submit</button> -->



  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>